## NYC Airbnb

In [1]:
import pandas as pd

a_df = pd.read_csv('./datasets/AB_NYC_2019.csv')

In [2]:
a_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [3]:
a_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [4]:
a_df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [5]:
a_df.last_review.value_counts()

last_review
2019-06-23    1413
2019-07-01    1359
2019-06-30    1341
2019-06-24     875
2019-07-07     718
              ...
2012-12-25       1
2013-10-01       1
2014-05-29       1
2014-04-19       1
2018-03-29       1
Name: count, Length: 1764, dtype: int64

In [6]:
import pandas as pd
from datetime import datetime

# 'last_review' 열을 datetime 형식으로 변환
a_df['last_review'] = pd.to_datetime(a_df['last_review'])

# 가장 최근 날짜 찾기
latest_review_date = a_df['last_review'].min()

# 결과 출력
print("가장 최근 날짜:", latest_review_date)

가장 최근 날짜: 2011-03-28 00:00:00

In [7]:
pre_a_df = a_df.drop(labels = ['last_review', 'id','name','host_id','host_name','neighbourhood'], axis=1)

In [8]:
pre_a_df.reviews_per_month.value_counts()

reviews_per_month
0.02     919
0.05     893
1.00     893
0.03     804
0.16     667
        ...
9.53       1
9.74       1
6.06       1
8.25       1
10.54      1
Name: count, Length: 937, dtype: int64

In [9]:
pre_a_df.loc[:,'reviews_per_month']= pre_a_df.reviews_per_month.fillna(0)

In [10]:
pre_a_df.isna().sum()

neighbourhood_group               0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [11]:
pre_a_df.loc[:,'target'] =  pre_a_df.price

In [12]:
pre_a_df = pre_a_df.drop(labels = ['price'], axis=1)

In [13]:
pre_a_df

,neighbourhood_group,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,target
0,Brooklyn,40.64749,-73.97237,Private room,1,9,0.21,6,365,149
1,Manhattan,40.75362,-73.98377,Entire home/apt,1,45,0.38,2,355,225
2,Manhattan,40.80902,-73.94190,Private room,3,0,0.00,1,365,150
3,Brooklyn,40.68514,-73.95976,Entire home/apt,1,270,4.64,1,194,89
4,Manhattan,40.79851,-73.94399,Entire home/apt,10,9,0.10,1,0,80
...,...,...,...,...,...,...,...,...,...,...
48890,Brooklyn,40.67853,-73.94995,Private room,2,0,0.00,2,9,70
48891,Brooklyn,40.70184,-73.93317,Private room,4,0,0.00,2,36,40
48892,Manhattan,40.81475,-73.94867,Entire home/apt,10,0,0.00,1,27,115
48893,Manhattan,40.75751,-73.99112,Shared room,1,0,0.00,6,2,55
48894,Manhattan,40.76404,-73.98933,Private room,7,0,0.00,1,23,90

In [14]:
pre_a_df.neighbourhood_group.value_counts()

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: count, dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
result = label_encoder.fit_transform(pre_a_df['neighbourhood_group'])
pre_a_df.neighbourhood_group = result

print(result)

[1 2 2 ... 2 2 2]

In [16]:
pre_a_df.room_type.value_counts()

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: count, dtype: int64

In [17]:
def room_rating(room_type):
    if room_type == 'Entire home/apt':
        return 2
    elif room_type == 'Private room':
        return 1
    elif room_type == 'Shared room':
        return 0
    else:
        return None  # 알 수 없는 경우 0을 반환합니다.

In [18]:
pre_a_df.loc[:,'room_type'] = pre_a_df.room_type.apply(room_rating)

In [19]:
pre_a_df.room_type.value_counts()

room_type
2    25409
1    22326
0     1160
Name: count, dtype: int64

In [20]:
pre_a_df.describe().T

,count,mean,std,min,25%,50%,75%,max
neighbourhood_group,48895.0,1.675345,0.735816,0.00000,1.00000,2.00000,2.000000,4.00000
latitude,48895.0,40.728949,0.054530,40.49979,40.69010,40.72307,40.763115,40.91306
longitude,48895.0,-73.952170,0.046157,-74.24442,-73.98307,-73.95568,-73.936275,-73.71299
minimum_nights,48895.0,7.029962,20.510550,1.00000,1.00000,3.00000,5.000000,1250.00000
number_of_reviews,48895.0,23.274466,44.550582,0.00000,1.00000,5.00000,24.000000,629.00000
reviews_per_month,48895.0,1.090910,1.597283,0.00000,0.04000,0.37000,1.580000,58.50000
calculated_host_listings_count,48895.0,7.143982,32.952519,1.00000,1.00000,1.00000,2.000000,327.00000
availability_365,48895.0,112.781327,131.622289,0.00000,0.00000,45.00000,227.000000,365.00000
target,48895.0,152.720687,240.154170,0.00000,69.00000,106.00000,175.000000,10000.00000

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

features, targets = pre_a_df.iloc[:, :-1], pre_a_df.iloc[:, -1]

X_train, X_test, y_train, y_test = \
train_test_split(features, targets, test_size=0.2, random_state=124)

In [22]:
train_df = pd.concat([X_train, y_train], axis =1).reset_index(drop=True)
train_df

,neighbourhood_group,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,target
0,1,40.69807,-73.93350,1,1,72,2.98,1,0,115
1,2,40.80826,-73.93401,2,4,24,0.30,1,25,50
2,1,40.65988,-73.96120,2,1,9,0.27,1,288,59
3,0,40.82245,-73.90875,2,2,19,0.97,1,0,110
4,2,40.80630,-73.96268,2,7,2,0.05,1,0,150
...,...,...,...,...,...,...,...,...,...,...
39111,2,40.74379,-73.98795,2,3,22,0.45,1,0,177
39112,1,40.70255,-73.92103,1,3,0,0.00,1,0,45
39113,1,40.67981,-73.94372,2,2,125,3.23,1,271,145
39114,2,40.75175,-73.98499,2,28,4,0.51,1,147,295
39115,1,40.66638,-73.95229,1,2,36,0.60,1,7,125

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

features, targets = train_df.iloc[:, :-1], train_df.iloc[:, -1]

X_train, X_val, y_train, y_val = \
train_test_split(features, targets, test_size=0.2, random_state=124)

In [24]:
l_r = LinearRegression()
l_r.fit(X_train, y_train)

LinearRegression()

In [25]:
import numpy as np
from sklearn.metrics import mean_squared_log_error, mean_squared_error, r2_score

def get_evaluation(y_test, prediction):
    MSE = mean_squared_error(y_test, prediction)
    RMSE = np.sqrt(MSE)
    # MSLE = mean_squared_log_error(y_test, prediction)
    # RMSLE = np.sqrt(mean_squared_log_error(y_test, prediction))
    R2 = r2_score(y_test, prediction)
    # print('MSE: {:.4f}, RMSE: {:.4f}, MSLE: {:.4f}, RMSLE: {:.4f}, R2: {:.4f}'\
    #       .format(MSE, RMSE, MSLE, RMSLE, R2))
    print('MSE: {:.4f}, RMSE: {:.4f},, R2: {:.4f}'\
          .format(MSE, RMSE, R2))

In [26]:
prediction = l_r.predict(X_test)
get_evaluation(y_test, prediction)

MSE: 60435.5254, RMSE: 245.8364,, R2: 0.0814

In [27]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
result = std.fit_transform(pre_a_df.iloc[:, :-1])
std_pre_a_df = pd.DataFrame(result, columns=pre_a_df.iloc[:, :-1].columns)
std_pre_a_df

,neighbourhood_group,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,-0.917828,-1.493849,-0.437652,-0.909359,-0.293996,-0.320414,-0.551511,-0.034716,1.916250
1,0.441222,0.452436,-0.684639,0.924247,-0.293996,0.487665,-0.445079,-0.156104,1.840275
2,0.441222,1.468399,0.222497,-0.909359,-0.196484,-0.522433,-0.682986,-0.186451,1.916250
3,-0.917828,-0.803398,-0.164450,0.924247,-0.293996,5.538156,2.221978,-0.186451,0.617065
4,0.441222,1.275660,0.177216,0.924247,0.144807,-0.320414,-0.620379,-0.186451,-0.856865
...,...,...,...,...,...,...,...,...,...
48890,-0.917828,-0.924616,0.048089,-0.909359,-0.245240,-0.522433,-0.682986,-0.156104,-0.788486
48891,-0.917828,-0.497141,0.411637,-0.909359,-0.147729,-0.522433,-0.682986,-0.156104,-0.583352
48892,0.441222,1.573480,0.075821,0.924247,0.144807,-0.522433,-0.682986,-0.186451,-0.651730
48893,0.441222,0.523774,-0.843881,-2.742965,-0.293996,-0.522433,-0.682986,-0.034716,-0.841669
48894,0.441222,0.643525,-0.805100,-0.909359,-0.001461,-0.522433,-0.682986,-0.186451,-0.682120

In [28]:
for column in std_pre_a_df.columns:
    std_pre_a_df = std_pre_a_df[std_pre_a_df[column].between(-1.96, 1.96)]

std_pre_a_df

,neighbourhood_group,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,-0.917828,-1.493849,-0.437652,-0.909359,-0.293996,-0.320414,-0.551511,-0.034716,1.916250
1,0.441222,0.452436,-0.684639,0.924247,-0.293996,0.487665,-0.445079,-0.156104,1.840275
2,0.441222,1.468399,0.222497,-0.909359,-0.196484,-0.522433,-0.682986,-0.186451,1.916250
4,0.441222,1.275660,0.177216,0.924247,0.144807,-0.320414,-0.620379,-0.186451,-0.856865
5,0.441222,0.343321,-0.494632,0.924247,-0.196484,1.138617,-0.313604,-0.186451,0.123223
...,...,...,...,...,...,...,...,...,...
48888,0.441222,0.641325,-0.859263,-0.909359,-0.147729,-0.522433,-0.682986,-0.186451,-0.621340
48890,-0.917828,-0.924616,0.048089,-0.909359,-0.245240,-0.522433,-0.682986,-0.156104,-0.788486
48891,-0.917828,-0.497141,0.411637,-0.909359,-0.147729,-0.522433,-0.682986,-0.156104,-0.583352
48892,0.441222,1.573480,0.075821,0.924247,0.144807,-0.522433,-0.682986,-0.186451,-0.651730
48894,0.441222,0.643525,-0.805100,-0.909359,-0.001461,-0.522433,-0.682986,-0.186451,-0.682120

In [29]:
std_pre_a_df.loc[:, 'target'] = pre_a_df.loc[std_pre_a_df.index, 'target']
std_pre_a_df

,neighbourhood_group,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,target
0,-0.917828,-1.493849,-0.437652,-0.909359,-0.293996,-0.320414,-0.551511,-0.034716,1.916250,149
1,0.441222,0.452436,-0.684639,0.924247,-0.293996,0.487665,-0.445079,-0.156104,1.840275,225
2,0.441222,1.468399,0.222497,-0.909359,-0.196484,-0.522433,-0.682986,-0.186451,1.916250,150
4,0.441222,1.275660,0.177216,0.924247,0.144807,-0.320414,-0.620379,-0.186451,-0.856865,80
5,0.441222,0.343321,-0.494632,0.924247,-0.196484,1.138617,-0.313604,-0.186451,0.123223,200
...,...,...,...,...,...,...,...,...,...,...
48888,0.441222,0.641325,-0.859263,-0.909359,-0.147729,-0.522433,-0.682986,-0.186451,-0.621340,125
48890,-0.917828,-0.924616,0.048089,-0.909359,-0.245240,-0.522433,-0.682986,-0.156104,-0.788486,70
48891,-0.917828,-0.497141,0.411637,-0.909359,-0.147729,-0.522433,-0.682986,-0.156104,-0.583352,40
48892,0.441222,1.573480,0.075821,0.924247,0.144807,-0.522433,-0.682986,-0.186451,-0.651730,115
48894,0.441222,0.643525,-0.805100,-0.909359,-0.001461,-0.522433,-0.682986,-0.186451,-0.682120,90

In [30]:
pre_a_df = pre_a_df.iloc[std_pre_a_df.index]
pre_a_df.reset_index(drop=True)

,neighbourhood_group,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,target
0,1,40.64749,-73.97237,1,1,9,0.21,6,365,149
1,2,40.75362,-73.98377,2,1,45,0.38,2,355,225
2,2,40.80902,-73.94190,1,3,0,0.00,1,365,150
3,2,40.79851,-73.94399,2,10,9,0.10,1,0,80
4,2,40.74767,-73.97500,2,3,74,0.59,1,129,200
...,...,...,...,...,...,...,...,...,...,...
37626,2,40.76392,-73.99183,1,4,0,0.00,1,31,125
37627,1,40.67853,-73.94995,1,2,0,0.00,2,9,70
37628,1,40.70184,-73.93317,1,4,0,0.00,2,36,40
37629,2,40.81475,-73.94867,2,10,0,0.00,1,27,115
37630,2,40.76404,-73.98933,1,7,0,0.00,1,23,90

In [31]:
pre_a_df

,neighbourhood_group,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,target
0,1,40.64749,-73.97237,1,1,9,0.21,6,365,149
1,2,40.75362,-73.98377,2,1,45,0.38,2,355,225
2,2,40.80902,-73.94190,1,3,0,0.00,1,365,150
4,2,40.79851,-73.94399,2,10,9,0.10,1,0,80
5,2,40.74767,-73.97500,2,3,74,0.59,1,129,200
...,...,...,...,...,...,...,...,...,...,...
48888,2,40.76392,-73.99183,1,4,0,0.00,1,31,125
48890,1,40.67853,-73.94995,1,2,0,0.00,2,9,70
48891,1,40.70184,-73.93317,1,4,0,0.00,2,36,40
48892,2,40.81475,-73.94867,2,10,0,0.00,1,27,115
48894,2,40.76404,-73.98933,1,7,0,0.00,1,23,90

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

features, targets = pre_a_df.iloc[:, :-1], pre_a_df.iloc[:, -1]

X_train, X_test, y_train, y_test = \
train_test_split(features, targets, test_size=0.2, random_state=124)

In [33]:
train_df = pd.concat([X_train, y_train], axis =1).reset_index(drop=True)
train_df

,neighbourhood_group,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,target
0,1,40.68692,-73.94242,1,3,10,0.25,1,0,55
1,1,40.69995,-73.93884,1,30,0,0.00,4,0,64
2,2,40.78807,-73.93988,1,1,20,2.03,1,0,99
3,1,40.72727,-73.93986,2,30,3,0.08,52,365,129
4,1,40.67471,-73.94571,1,2,90,1.25,1,186,69
...,...,...,...,...,...,...,...,...,...,...
30099,3,40.74502,-73.91355,2,3,0,0.00,1,0,180
30100,2,40.72925,-74.00042,2,2,12,1.07,1,0,119
30101,2,40.71795,-73.98553,1,1,1,0.03,1,0,70
30102,2,40.74604,-73.97228,2,5,0,0.00,1,233,250
30103,1,40.63395,-73.94772,2,2,1,0.11,2,363,100

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

features, targets = train_df.iloc[:, :-1], train_df.iloc[:, -1]

X_train, X_val, y_train, y_val = \
train_test_split(features, targets, test_size=0.2, random_state=124)

In [35]:
l_r = LinearRegression()
l_r.fit(X_train, y_train)

LinearRegression()

In [36]:
import numpy as np
from sklearn.metrics import mean_squared_log_error, mean_squared_error, r2_score

def get_evaluation(y_test, prediction):
    MSE = mean_squared_error(y_test, prediction)
    RMSE = np.sqrt(MSE)
    # MSLE = mean_squared_log_error(y_test, prediction)
    # RMSLE = np.sqrt(mean_squared_log_error(y_test, prediction))
    R2 = r2_score(y_test, prediction)
    # print('MSE: {:.4f}, RMSE: {:.4f}, MSLE: {:.4f}, RMSLE: {:.4f}, R2: {:.4f}'\
    #       .format(MSE, RMSE, MSLE, RMSLE, R2))
    print('MSE: {:.4f}, RMSE: {:.4f},, R2: {:.4f}'\
          .format(MSE, RMSE, R2))

In [37]:
prediction = l_r.predict(X_test)
get_evaluation(y_test, prediction)

MSE: 62054.4384, RMSE: 249.1073,, R2: 0.0960

In [38]:
pre_a_df.reset_index(drop=True, inplace=True)

In [39]:
pre_a_df.room_type.value_counts()

room_type
2    20273
1    17358
Name: count, dtype: int64

In [40]:
pre_a_df.room_type.astype(np.int16)

0        1
1        2
2        1
3        2
4        2
        ..
37626    1
37627    1
37628    1
37629    2
37630    1
Name: room_type, Length: 37631, dtype: int16

In [41]:
pre_a_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37631 entries, 0 to 37630
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   neighbourhood_group             37631 non-null  int32
 1   latitude                        37631 non-null  float64
 2   longitude                       37631 non-null  float64
 3   room_type                       37631 non-null  object
 4   minimum_nights                  37631 non-null  int64
 5   number_of_reviews               37631 non-null  int64
 6   reviews_per_month               37631 non-null  float64
 7   calculated_host_listings_count  37631 non-null  int64
 8   availability_365                37631 non-null  int64
 9   target                          37631 non-null  int64
dtypes: float64(3), int32(1), int64(5), object(1)
memory usage: 2.7+ MB

In [42]:
from statsmodels.api import OLS

features, targets = pre_a_df.iloc[:, :-1], pre_a_df.iloc[:, -1]

model = OLS(targets, features)
print(model.fit().summary())

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).